@media screen and (max-width: 1160px) {
	
	.container{
		padding: 0 10px;
	}

	.bar-item{
		height: 70px;
	}

	.logo{
		margin-left: 10px;
		margin-right: 0;

		img{
			height: 40px;
		}

	}

	.navbar{
		
		li{
			padding: 0 10px;
		}

		a:hover{
			padding-bottom: 22px;
		}

	}

	.contact-header{

		a{
			margin: 0 5px;
		}

	}

	.team-women{
		flex-direction: column;	

		.w-item{
			padding: 5px 0;
		}

	}

}

@media screen and (max-width: 1000px) {
	
	.section_num_1{
		padding: 80px 0 0 0;
	}

	.advantages{
		display: flex;
		flex-direction: column;

		.advantages-item{
			padding: 20px 0;
		}

	}

	.lets-blog-news{
		flex-direction: column;
		max-width: 320px;
		margin: 0 auto;
		

		.lets-news{
			padding-bottom: 10px;
		}

	}
	
	.section_num_4{
		padding: 2% 0;
	}

	.blue-block{
		flex-direction: column;
	}

	.four-item{
		padding: 20px 0;
		margin: 0 auto;
	}

	.mobile-app{
		flex-direction: column;
		

		.m-app-item{
			margin: 0 auto;
			display: block;
		}

		div img{
			display: block;
			padding-top: 15px;
			margin: 0 auto;
		}

	}

	.registr-forms{
		max-width: 97%;

		span{
			flex-direction: column;
		}

		input{
			margin: 10px 0;
			padding: auto;
		}

	}

}

@media screen and (max-width: 768px) {
	
	.container{
		width: 100%;
		padding: 0;
	}
	
	.navbar-button{ 
		a{
			display: block;
			z-index: 991;
		}
			
			
	}

	.navbar{
		display: none;
		left: 0;
		top: 70px ;
		position: absolute;
		width: 100%;
		
		ul{
			flex-direction: column;
			background-color: #222222;
		}
		
		li{
			padding: 20px 0;
			transition: 0.2s all;
		}
		li:hover{
			background-color: #fff;
		}

		li:hover a{
			color: #222;
		}

		a{
			text-align: center;
			margin: 0 auto;
			display: block;
			transition: 0.2s all;
		}
		a:hover{
			border: 0;
			padding: 0;
		}

	}

	.block-one, .block-two{
		flex-direction: column;
		
		.news-title{
			text-align: center;
			max-width: 90%;
		}

		.news-images{
			max-width: 90%;
		}

	}
	
}
@media screen and (max-width: 467px) {
	
	.title-header{

		h1{
			font-size: 52px;
		}

	}

	.m-app-item{
		max-width: 95%;
	}

	.four-item{

		display: block;
	
		img{
			margin: 0 auto;
			display: block;
			margin-bottom: 10px;
		}

		p{
			text-align: center;
			padding: 0 5px;
		}

	}

}
